@model PU5Pinacoteca.Models.ViewModels.VerPintorViewModel
@{
    Layout = "Layout";
}
<div class="est">
    <div class="estampillapintor">
        <img id="pintor" src="~/Pintores/@(Model.Id).jpg" alt="Imagen del cuadro" />
    </div>
    <div class="descripcionpintor">
        <h1>@Model.Nombre</h1>
        <p>@Model.Pais <strong>,</strong> <label>@Model.Ciudad</label></p>
        <p><strong>Fecha de nacimiento:</strong> @Model.FechaNacimiento</p>
        <p><strong>Fecha de fallecimiento:</strong> @Model.FechaFallecimiento</p>
        <p>
            @Model.Biografia
        </p>
    </div>
    <div class="botones">
        <a class="button" href="~/Home/Pintores">
            <img src="~/images/hogar.png" alt="Obra" />
        </a>
        <a class="button" href="~/Home/VerCuadrosPorPintor/@(Model.Nombre.Replace(" ", "-"))">
            <img src="~/images/ver-lista.png" alt="Obra" />
        </a>
    </div>
</div>